html,
body {
    height: 100%;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff
}

.navbar-inverse {
  background-color: #0073E5;
  border-color: #0073E5;
}

.wrap {
    min-height: 180%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
}


.wrap > .container {
    padding: 0px 15px 50px;
}


#float-left-events {
	float: left;
	margin: 0 0 0;
	width: 100%;
	padding: 20px 0 0;
	
}
.section-programs {

    padding: 50px 30px 0;
    float: left;
    margin: 0 0 0%;
    width: 75%;
}

.subscribe-aside {
    padding: 50px 20px 80px;
    float: right;
    margin: 0 0 0%;
    width: 24.5%;
}

.items {
	padding: 20px 0 0;
}
#aside-be-a-volunteer {

    float: right;
    margin: 0 0 0;
    width: 100%;
    padding: 20px 0 0;
}
.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.gallery-item img {
	width: 200px;
	height: 200px;
}
/***Note: This styling will apply to both the thumbnail and popup image, unless you override these styles in step five***/
.gallery-item img{

/*give the thumbnails a frame*/
background-color:#eae9d4; /*frame colour*/
padding: 6px; /*frame size*/
/*add a drop shadow to the frame*/
-webkit-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
 -moz-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
 box-shadow: 0 0 6px rgba(132, 132, 132, .75);
/*and give the corners a small curve*/
-webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;
  }

    /***Override the styling of images set in step 3 to make the frame smaller and the background darker***/
    .gallery-item img{
    padding: 2px; /*size of the frame*/
    background: #ccc; /*colour of the frame*/
    }

    /***Style the <span> containing the framed images and the caption***/
    .gallery-item img{
    /**Style the frame**/
    padding: 10px; /*size of the frame*/
    background:#fff; /*colour of the frame*/
    /*add a drop shadow to the frame*/
    -webkit-box-shadow: 0 0 20px rgba(0,0,0, .75));
    -moz-box-shadow: 0 0 20px rgba(0,0,0, .75);
    box-shadow: 0 0 20px rgba(0,0,0, .75);
    /*give the corners a curve*/
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius:8px;
    /**Style the caption**/
    font-family: 'Droid Sans', sans-serif; /*Droid Sans is available from Google fonts*/
    font-size:.9em;
    text-align: center;
    color: #495a62;
    }



